body {
    background-color: #31304D;
    color: #F0ECE5;
    font-size: ;
}

hr {
    border: 3px solid #F0ECE5;
    margin: 0 20px;
}

/* intro section */
#intro {
    background-color: #161A30;
    color: #FEFAF6;
    padding: 80px 0;
    margin: 0 10px 10px 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#intro .introFlex {
    display: grid;
    grid-template: 1fr/2fr 1fr;
    column-gap: 5rem;
}

#intro .contacts {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    align-self: end;
    gap: .8rem;
}

#intro .contacts>* {
    display: inline-flex;
    align-items: center;
    gap: .5rem;
    color: #7777b5;
    font-size: 1rem;
    text-decoration: none;

}

#intro .contacts p {
    margin: 0;
    align-self: end;
}


.contactHover {
    color: #fff !important;
    font-weight: 700;
    cursor: pointer;
}



/* objective section */
#objective {
    font-size: 1.2rem;
    padding: 40px 0;
    margin: 0;
    font-weight: 650;
    text-shadow: black;
}

#details {
    padding: 40px 0;
}

#details .details-grid {
    display: grid;
    grid-template: repeat(4, auto)/ 1fr 1fr;
    gap: 30px;
}

#details .details-grid>* {
    background-color: #43436c;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
}

#details .details-grid>.interest {
    grid-area: 2/2/-1/-1;
}

#details .details-grid>.keySkills {
    grid-area: 1/2/2/-1;
    background-color: #161A30;
    max-width: 400px;
    border-radius: 0;
}

#details .details-grid>.internships {
    grid-area: 4/1/-1/2;
}

#details h2 {
    font-weight: 650;
}

footer {
    background-color: #161A30;
    height: 25px;
    width: 100%;
}


@media(max-width: 768px) {

    /* Details section */
    #details .details-grid {
        display: flex;
        flex-flow: column nowrap;
        align-items: stretch;
    }

    #details .details-grid>.keySkills {
        order: -1;
    }

    #details .details-grid>.interest {
        order: -2;
    }

    /* into section */
    #intro .introFlex {
        display: flex;
        flex-flow: column nowrap;
        gap: 5rem;
        align-items: flex-start !important;
    }

    #intro .aboutText {
        align-self: stretch;
    }

    #intro .contacts {
        align-self: flex-start;
    }

    #intro .contacts>* {
        flex-flow: row-reverse;
        align-self: flex-start;
        font-size: 1rem;
    }
}